.dropdown {
    display: flex;
    align-items: center;
}

.dropdown button {
    cursor: pointer;
    background-color: rgb(215, 203, 155);
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    width: 120px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.dropdown button:hover {
    background-color: transparent;
}

.customSelect select {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='%23996515' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right center;
    background-size: 20px;
}

.customButton {
    margin-left: 10px;
}

.customButtonC {
    margin-left: 10px;
}

.customButtonC:hover {
    background-color: rgb(165, 42, 42);
}

.customSelect select option:checked,
.customSelect option:hover {
    background-color: rgb(215, 203, 155);
}