.nav {
    width: 100vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(214, 204, 162);
    color: #996515;
}