    @import url('//fonts.googleapis.com/css?family=Raleway:800i');
    
    .date {
        font-size: 14px;
        color: rgb(180, 180, 180);
    }

    .chat_box {
        display: flex;
        flex-direction: column;
        background: rgb(114, 109, 93);
        border-radius: 5px;
        max-width: 100%;
    }

    .messages {
        max-height: calc(100vh - 10rem);
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 2rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .chat_header {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        padding: 0.75rem;
        color: white;
        font-size: 24px;
        font-weight: 800;
        background: transparent;
    }

    .messages_box {
        height: 90vh;
        padding-right: 3px;
        flex-grow: 0;
        align-items: top;
        gap: 13px;
    }

    .user_message {
        display: flex;
        flex-direction: column;
        color: white;
        background: #282828;
        padding: 0.75rem;
        border-radius: 5px;
        margin-top: 3px;
        /*margin-bottom: 3px;*/
        margin-right: auto;
        white-space: pre-line;
        overflow-wrap: break-word;
        max-width: 50%;
    }

    @keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-.5px);
    }
    }

    .letter {
        display: inline-block;
        animation: bounce 0.9s infinite alternate;
    }

    .message {
        display: flex;
        flex: 1;
        flex-direction: column;
        color: white;
        background: #166355;
        padding: 0.75rem;
        border-radius: 5px;
        margin-top: 3px;
        /*margin-bottom: 3px;*/
        margin-left: auto;
        white-space: pre-line;
        overflow-wrap: break-word;
        max-width: 50%;
    }

    .message-footer {
        font-size: 12px;
        align-self: flex-end;
        font-weight: 400;
    }

    .message .date{
        font-size: small;
        color: gray;
    }
    
    .chat_messages {
        border: 2px solid rgb(127, 125, 117);
        padding: 1px;
        height: 85vh;
    }

    .chat_input {
        display: flex;
        width: 100%;
        background: transparent;
        padding: 1rem;
    }

    .chat_input button {
        display: none !important;
    }


    .chat_input input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .chat_input label {
        cursor: pointer;
        margin-top: 4px;
        margin-left: 5px;
        text-indent: -9999px;
        width: 75px;
        height: 45px;
        background: grey;
        display: block;
        border-radius: 45px;
        position: relative;
    }

    .chat_input label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 5px;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 90px;
        transition: 1.0s;
    }

    .chat_input input:checked + label {
        background: #bada55;
    }

    .chat_input input:checked + label:after {
        left: calc(50% - 5px);
        transform: translateX(-10%);
    }

    .chat_input label:active:after {
        width: 130px;
    }
